<% layout('boilerplate') -%>

<h1>Shop Smart, Save Big!</h1>

<p> Starting point to create something </p>




<p>Sign to start buying</p>

<h3>Start your search here </h3>



<p>our prices are some of the best on the web</p>

<h3>look for smart item?</h3>
